{% extends "layout.html" %}
{% block css %}
        .custom-table {
            border-collapse: collapse;
            width: 100%;
        }

        .custom-table th, .custom-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .custom-table tr:nth-child(even){background-color: #f2f2f2;}

        .custom-table tr:hover {background-color: #ddd;}

        .custom-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #007bff;
            color: white;
        }

        .clickable {
            color: #007bff;
            cursor: pointer;
        }

        .clickable:hover {
            text-decoration: underline;
        }
                .search-bar {
            margin-bottom: 20px;
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

{% endblock %}

/////////////////////////////////////////////


{% block main %}
<div class="main-content" id="mainContent">
        <div class="search-bar">
            <form action="{{ url_for('companies', search_text=search_text, date_from=date_from, date_to=date_to)}}" method="get">
                <div class="form-row align-items-end">
                    <div class="col">
                        <label for="searchText">Search Text:</label>
                        <input type="text" class="form-control" id="searchText" name="search_text" value={{search_text}}>
                    </div>
<!--                    <div class="col">-->
<!--                        <label for="dateFrom">Date From:</label>-->
<!--                        <input type="date" class="form-control" id="dateFrom" name="date_from"  value={{date_from}}>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                        <label for="dateTo">Date To:</label>-->
<!--                        <input type="date" class="form-control" id="dateTo" name="date_to" value ={{date_to}}>-->
<!--                    </div>-->
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Company ID</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                {% for result in orders_list %}
                    <tr>
                        <td><a href="/company/{{ result.company_id }}" class="clickable">{{ result.company_id }}</a></td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.address }}</td>
                        <td>{{ result.phone_number }}</td>
                        <td>{{ result.creation_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
             <div class="pagination">
        {% if has_prev %}
            <a href="{{ url_for('companies', search_text=search_text, date_from=date_from, date_to=date_to, page=1) }}" class="btn btn-primary">Previous</a>
        {% else %}
            <span class="btn btn-primary disabled">Previous</span>
        {% endif %}

        {% if has_next %}
            <a href="{{ url_for('companies', search_text=search_text, date_from=date_from, date_to=date_to, page=current_page+1) }}" class="btn btn-primary">Next</a>
        {% else %}
            <span class="btn btn-primary disabled">Next</span>
        {% endif %}
    </div>
    </div>

{% endblock %}

/////////////////////////////////////////////////

{% block js %}
{% endblock %}

