{% extends "layout.html" %}
{% block css %}
         .custom-table {
            border-collapse: collapse;
            width: 100%;
        }

        .custom-table th, .custom-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .custom-table tr:nth-child(even){background-color: #f2f2f2;}

        .custom-table tr:hover {background-color: #ddd;}

        .custom-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #007bff;
            color: white;
        }

        .clickable {
            color: #007bff;
            cursor: pointer;
        }

        .clickable:hover {
            text-decoration: underline;
        }
                .search-bar {
            margin-bottom: 20px;
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

{% endblock %}

//////////////////////////////////////////////////////////////////////////


{% block main %}
<div class="main-content" id="mainContent">
        <div class="search-bar">
            <form action="{{ url_for('customers', search_text=search_text, date_from=date_from, date_to=date_to, store=store)}}" method="get">
                <div class="form-row align-items-end">
                    <div class="col">
                        <label for="searchText">Search Text:</label>
                        <input type="text" class="form-control" id="searchText" name="search_text" value={{search_text}} >
                    </div>
                    <div class="col">
                        <label for="dateFrom">Date From:</label>
                        <input type="date" class="form-control" id="dateFrom" name="date_from" value={{date_from}}>
                    </div>
                    <div class="col">
                        <label for="dateTo">Date To:</label>
                        <input type="date" class="form-control" id="dateTo" name="date_to" value={{date_to}}>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Search</button>

                </div>
                                        </div>
                               <div class="form-group">
                    <label for="store">Store:</label>
                    <select class="form-control" id="store" name="store" value={{store}}>
                        {% if not store %}
                        <option value="">None</option>
                        <option value="monterey" >Monterey</option>
                        <option value="conoco" >Conoco</option>
                        {% endif %}
                        {% if store == 'monterey' %}
                        <option value="">None</option>
                        <option value="monterey" selected>Monterey</option>
                        <option value="conoco" >Conoco</option>
                        {% elif store == 'conoco' %}
                        <option value="">None</option>
                        <option value="monterey" >Monterey</option>
                        <option value="conoco" selected>Conoco</option>
                        {% endif %}
                    </select>
                </div>
            </form>
<!--    <input type="checkbox" id="monterey" name="monterey" value="monterey" onchange="updateOrders()"> Monterey<br>-->
<!--    <input type="checkbox" id="conoco" name="conoco" value="conoco" onchange="updateOrders()"> Conoco<br>-->
        </div>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>License Number</th>
                    <th>Account Creation Date</th>
                    <th>Last Cashed Check Date</th>
                    <th>Store</th>
                </tr>
            </thead>
            <tbody>
                {% for result in orders_list %}
                    <tr>
                        <td><a href="/customer/{{ result.customer_id }}" class="clickable">{{ result.customer_id }}</a></td>
                        <td>{{ result.first_name }}</td>
                        <td>{{ result.last_name }}</td>
                        <td>{{ result.phone_number }}</td>
                        <td>{{ result.address }}</td>
                        <td>{{ result.license_number }}</td>
                        <td>{{ result.account_creation }}</td>
                        <td>{{ result.last_checked }}</td>
                        <td>{{ result.store }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
<div class="pagination">
    {% if has_prev %}
        <a href="{{ url_for('customers', search_text=search_text, date_from=date_from, date_to=date_to, store=store,page=current_page-1) }}" class="btn btn-primary">Previous</a>
    {% else %}
        <span class="btn btn-primary disabled">Previous</span>
    {% endif %}

    {% if has_next %}
        <a href="{{ url_for('customers', search_text=search_text, date_from=date_from, date_to=date_to, store=store,page=current_page+1) }}" class="btn btn-primary">Next</a>
    {% else %}
        <span class="btn btn-primary disabled">Next</span>
    {% endif %}
</div>
    </div>
{% endblock %}

///////////////////////////////////////////////////////////////////////////

{% block js %}
function updateOrders() {
            var store1Checked = document.getElementById("monterey").checked;
            var store2Checked = document.getElementById("conoco").checked;

            // Make an AJAX call to Flask to get the orders based on the checkboxes
            fetch('/customers', {
                method: 'POST',
                headers: { 'monterey': store1Checked, 'conoco':store2Checked}
                })
                .then(response => response.json())
             .then(data => {
            // Get the table body element
            var tableBody = document.querySelector(".custom-table tbody");
            tableBody.innerHTML = ''; // Clear existing rows

            // Loop through each order and add a row to the table
            data.forEach(result => {
                var row = `<tr>
                               <td><a href="/customer/${result.customer_id}" class="clickable">${result.customer_id}</a></td>
                               <td>${result.first_name}</td>
                               <td>${result.last_name}</td>
                               <td>${result.phone_number}</td>
                               <td>${result.address}</td>
                               <td>${result.license_number}</td>
                               <td>${result.account_creation}</td>
                               <td>${result.last_checked}</td>
                               <td>${result.store}</td>
                           </tr>`;
                tableBody.innerHTML += row;
            });
             });
        }
{% endblock %}

