<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order - Cash Checking App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Custom styles for sidebar */
        .sidebar {
            height: calc(100vh - 56px);
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 56px;
            left: -200px; /* Initially hidden */
            background-color: #f8f9fa;
            overflow-x: hidden;
            padding-top: 20px;
            transition: 0.5s; /* Smooth transition */
        }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 16px;
            color: #333;
            display: block;
        }

        .sidebar a:hover {
            color: #007bff;
        }

        /* Style for the content */
        .main-content {
            transition: margin-left .5s; /* Smooth transition */
            padding: 20px;
        }

        /* When the sidebar is shown, add 200px margin */
        .main-content.shift-right {
            margin-left: 200px;
        }

        /* Navigation Bar */
        .navbar {
            z-index: 2; /* Ensure navbar is above sidebar */
        }
        body {
            cursor: default;
        }

        a, button {
            cursor: pointer;
        }
        /* CSS styles for the video and image container */
        .video-image-container {
            display: flex; /* Use flexbox to arrange children side by side */
            align-items: center; /* Vertically center the children */
            position: relative; /* Add relative positioning to the container */
        }

        /* CSS styles for the video element */
        #webcam {
            max-width: 100%; /* Ensure the video doesn't exceed its container's width */
        }

        /* CSS styles for the captured image element */
        #capturedImage {
            max-width: 100%; /* Ensure the image doesn't exceed its container's width */
            margin-right: 20px; /* Add some spacing between the video and image */
        }

        /* CSS styles for the "Capture" button */
        #captureButton {
            position: absolute; /* Position the button relative to the container */
            top: 0; /* Adjust top position as needed */
            right: 0; /* Adjust right position as needed */
        }

        /* CSS styles for the fixed "Capture" button */
        .fixed-button {
            position: fixed; /* Make the button fixed */
            bottom: 20px; /* Adjust bottom position as needed */
            right: 20px; /* Adjust right position as needed */
            z-index: 1; /* Ensure the button is above other content */
        }
    </style>
</head>
<body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span style="color: white; cursor: pointer" class="navbar-brand" onclick="toggleSidebar()">
            &#9776; <!-- Unicode for menu icon -->
        </span>
        <a class="navbar-brand" href="/">CashCheck</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <a href="/orders">Orders</a>
        <a href="/customers">Customers</a>
        <a href="/reports">Reports</a>
    </div>


    <!-- Main Content -->
<div class="main-content" id="mainContent">
        <h1>Create New Order</h1>
         <form action={{url_for('order_submit')}} method="post">
            <!-- Form fields -->
<!--            <div class="form-group">-->
<!--                <label for="company">Company:</label>-->
<!--                <input type="text" class="form-control" id="company" name="company" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="customerNumber">Customer Number:</label>-->
<!--                <input type="text" class="form-control" id="customerNumber" name="customerNumber" required>-->
<!--            </div>-->
             <div class="form-group">
                <label for="customerSearchField">Customer:</label>
                <input type="text" class="form-control" id="customerSearchField" name="customerSearchField" readonly onclick="openModal()" value="">
            </div>
<!--             <div class="form-group">-->
<!--                <label for="checkNumber1">Check Number:</label>-->
<!--                <input type="text" class="form-control" id="checkNumber1" name="checkNumber1">-->
<!--            </div>-->
            <div class="form-group">
                <label for="checkNumber">Check Number:</label>
                <input type="text" class="form-control" id="checkNumber" name="checkNumber" value="None">
            </div>
<!--            <div class="form-group">-->
<!--                <label for="accountNumber">Account Number:</label>-->
<!--                <input type="text" class="form-control" id="accountNumber" name="accountNumber" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="amount">Amount:</label>-->
<!--                <input type="number" class="form-control" id="amount" name="amount" required>-->
<!--            </div>-->
             <!-- Amount Field -->
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" required oninput="updateAmountIssued()">
            </div>

            <!-- Amount Issued Field (Read-only) -->
            <div class="form-group">
                <label for="amountIssued">Amount Issued:</label>
                <input type="text" class="form-control" id="amountIssued" name="amountIssued" readonly>
            </div>
            <div class="form-group">
                <label for="dateIssued">Date Issued:</label>
                <input type="date" class="form-control" id="dateIssued" name="dateIssued" required>
            </div>
                         <div class="form-group">
                <label for="uuid"></label>
                <input type="hidden" class="form-control" id="uuid" name="uuid"  value={{uuid}}>
            </div>

             <div class="form-group">
                <label for="base64"></label>
                <input type="hidden" class="form-control" id="base64" name="base64"  value="filler">
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit Order</button>
             <a href="/new_customer" class="btn btn-primary">Add Customer</a>
            <br>
<!--            <video id="webcam" autoplay></video>-->
<!--            <button id="captureButton" type="button">Capture Check Copy</button>-->
<!--            <canvas id="canvas" style="display: none;"></canvas>-->
<!--            <img id="capturedImage" src="" alt="Captured Image">-->
            <div class="video-image-container">
                <video id="webcam" autoplay></video>
                <img id="capturedImage" src="./static/images/white.png" alt="Captured Image">
                <button id="captureButton" type="button">Capture Check Copy</button>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>
        </form>
        <div id="data-container" data-custom-data="{{uuid}}"></div>
    </div>
<!--    <div class="modal" id="customerSearchModal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Search Customer</h5>-->
<!--                    <button type="button" class="close" onclick="closeModal()">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <input type="text" class="form-control" id="modalSearchBar" onkeyup="searchCustomers()" placeholder="Search customers...">-->
<!--                    <ul id="customerList">-->
<!--                        &lt;!&ndash; Customer list items will be added here &ndash;&gt;-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  -->
  <!-- second modal -->
  <!-- Modal Structure -->
<div class="modal" id="customerSearchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Customer</h5>
                <button type="button" class="close" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="modalSearchBar" onkeyup="searchCustomers()" placeholder="Search customers...">
                <ul id="customerList">
                    <!-- Customer list items will be added here -->
                </ul>
            </div>
            <div class="modal-footer">
                <nav aria-label="Customer search results pages">
                    <ul class="pagination">
                        <li class="page-item" id="previousPage"><a class="page-link" href="#" onclick="changePage(-1)">Previous</a></li>
                        <li class="page-item" id="nextPage"><a class="page-link" href="#" onclick="changePage(1)">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var mainContent = document.getElementById("mainContent");
            if (sidebar.style.left === "-200px") {
                sidebar.style.left = "0";
                mainContent.classList.add("shift-right");
            } else {
                sidebar.style.left = "-200px";
                mainContent.classList.remove("shift-right");
            }
        }
        // Function to capture form data
        function captureFormData() {
            let formData = new FormData(imageForm);
            return formData;
        }

        // Function to restore form data
        function restoreFormData(formData) {
            for (const [key, value] of formData.entries()) {
                let inputElement = document.querySelector(`[name="${key}"]`);
                if (inputElement) {
                    inputElement.value = value;
                }
            }
        }
        let videoElement = document.getElementById('webcam');
        let captureButton = document.getElementById('captureButton');
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        let imageForm = document.getElementById('imageForm');
                // Access the user's webcam
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // Assign the webcam stream to the video element
                videoElement.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Error accessing webcam:', error);
            });
        var customData = document.getElementById('data-container').getAttribute('data-custom-data');
        // Function to capture a frame from the webcam and send it to Flask
        captureButton.addEventListener('click', function () {
            // Draw the current frame from the webcam onto the canvas
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

            // Convert the captured frame to a data URL (base64)
            let imageDataURL = canvas.toDataURL('image/png');

            // Get the customer ID from the input field


<!--            let checkNumber = document.getElementById('checkNumber').value;-->

            // Create a FormData object and append the customer ID and image data
            let formData = new FormData();
            formData.append('uuid',customData);
            formData.append('imageDataUrl', imageDataURL);

            updateCapturedImage(imageDataURL);
            // Send the form data to Flask using an AJAX POST request
            fetch('/upload_check_copy', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    console.log('Image uploaded successfully.');
                } else {
                    console.error('Image upload failed.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
           });

        function updateCapturedImage(imageDataURL) {
            let capturedImageElement = document.getElementById('capturedImage');
            capturedImageElement.src = imageDataURL;
            let form_data = document.getElementById('base64');
            form_data.value = imageDataURL;
        };



// Global variables to track current page and search query
var currentPage = 1;
var currentQuery = '';

// Function to open the modal
function openModal() {
    document.getElementById('customerSearchModal').style.display = 'block';
    fetchCustomers(currentPage, currentQuery);  // Fetch initial data
}

// Function to close the modal
function closeModal() {
    document.getElementById('customerSearchModal').style.display = 'none';
}

// Function to fetch customers from the server
function fetchCustomers(page, query) {
    $.ajax({
        url: '/get_customers',
        type: 'GET',
        data: { page: page, limit: 20, query: query },
        success: function(customers) {
            renderCustomerPage(customers);
            // Update global variables
            currentPage = page;
            currentQuery = query;
        },
        error: function(error) {
            console.log('Error fetching customers:', error);
        }
    });
}

// Function to render customer list in the modal
function renderCustomerPage(customers) {
    var customerList = document.getElementById("customerList");
    customerList.innerHTML = ""; // Clear existing list

    customers.forEach(function(customer) {
        const myArray = customer.split("-");
        let index = myArray.indexOf("FLAGGED");
        console.log(index)
        if (index === -1) {
            // "FLAGGED" not found, create a <p> tag
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.textContent = customer;
            a.href = "javascript:void(0);"; // Prevent the link from redirecting
            a.onclick = function() { selectCustomer(customer); };
            li.appendChild(a);
            customerList.appendChild(li);
        } else {
            // "FLAGGED" found, create an <a> tag inside a <li>
             var p = document.createElement("p");
            p.textContent = customer;
            customerList.appendChild(p);

        }
    })};

<!--    customers.forEach(function(customer) {-->
<!--        const myArray = customer.split("-");-->
<!--        let index = myArray.indexOf("FLAGGED");-->

<!--        var li = document.createElement("li");-->
<!--        var a = document.createElement("a");-->
<!--        a.textContent = customer;-->
<!--        a.href = "javascript:void(0);"; // Prevent the link from redirecting-->
<!--        a.onclick = function() { selectCustomer(customer); };-->
<!--        li.appendChild(a);-->
<!--        customerList.appendChild(li);-->
<!--    });-->
<!--}-->

// Function to handle the search
function searchCustomers() {
    var query = document.getElementById('modalSearchBar').value;
    fetchCustomers(1, query); // Always start from page 1 for new searches
}

// Function to change the page
function changePage(increment) {
    var newPage = currentPage + increment;
    fetchCustomers(newPage, currentQuery);
}

// Function to handle customer selection
function selectCustomer(customerName) {
    const myArray = customerName.split("-");
    let customer_number = myArray[0];
    document.getElementById('customerSearchField').value = customer_number;
    console.log(document.getElementById('customerSearchField').value)
    closeModal();
}
function updateAmountIssued() {
    var amount = document.getElementById('amount').value;
    var amountIssued = amount * 0.80; // 80% of the entered amount
    document.getElementById('amountIssued').value = amountIssued.toFixed(2); // Update the amount issued field
}


    </script>
</body>
</html>
