{% extends "layout.html" %}
{% block css %}
           /* CSS styles for the video and image container */
        .video-image-container {
            display: flex; /* Use flexbox to arrange children side by side */
            align-items: center; /* Vertically center the children */
            position: relative; /* Add relative positioning to the container */
        }

        /* CSS styles for the video element */
        #webcam {
            max-width: 100%; /* Ensure the video doesn't exceed its container's width */
        }

        /* CSS styles for the captured image element */
        #capturedImage {
            max-width: 100%; /* Ensure the image doesn't exceed its container's width */
            margin-right: 20px; /* Add some spacing between the video and image */
        }

        /* CSS styles for the "Capture" button */
        #captureButton {
            position: absolute; /* Position the button relative to the container */
            top: 0; /* Adjust top position as needed */
            right: 0; /* Adjust right position as needed */
        }

        /* CSS styles for the fixed "Capture" button */
        .fixed-button {
            position: fixed; /* Make the button fixed */
            bottom: 20px; /* Adjust bottom position as needed */
            right: 20px; /* Adjust right position as needed */
            z-index: 1; /* Ensure the button is above other content */
        }
                #captureLicenseButton {
            position: absolute; /* Position the button relative to the container */
            top: 4; /* Adjust top position as needed */
            right: 0; /* Adjust right position as needed */
        }

        /* CSS styles for the fixed "Capture" button */
        .fixed-button {
            position: fixed; /* Make the button fixed */
            bottom: 20px; /* Adjust bottom position as needed */
            right: 40px; /* Adjust right position as needed */
            z-index: 1; /* Ensure the button is above other content */
        }
{% endblock %}

//////////////////////////////////////////////////////////////////////////


{% block main %}
 <div class="main-content" id="mainContent">
        <h1>Add New Customer</h1>
        <form action={{url_for('customer_submit')}} method="post">
            <!-- Form fields -->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
<!--                <label for="contactInfo"></label>-->
                <input type="hidden" class="form-control" id="contactInfo" name="contactInfo" value="None">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
<!--            <div class="form-group">-->
<!--                <label for="email">Email:</label>-->
<!--                <input type="email" class="form-control" id="email" name="email">-->
<!--            </div>-->
            <div class="form-group">
<!--                <label for="license_number"></label>-->
                <input type="hidden" class="form-control" id="license_number" name="license_number" value="None">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
            </div>
            <div class="form-group">
                    <label for="store">Store:</label>
                    <select class="form-control" id="store" name="store">
                        <option value="Monterey">Monterey</option>
                        <option value="Conoco">Conoco</option>
                    </select>
                </div>
<!--            </div>-->
            <div class="form-group">
                <label for="uuid"></label>
                <input type="hidden" class="form-control" id="uuid" name="uuid"  value={{uuid}}>
            </div>

             <div class="form-group">
                <label for="customer_base64"></label>
                <input type="hidden" class="form-control" id="customer_base64" name="customer_base64"  value="filler">
            </div>
            <div class="form-group">
                <label for="license_base64"></label>
                <input type="hidden" class="form-control" id="license_base64" name="license_base64"  value="filler">
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Add Customer</button>
            <br>
<!--            <video id="webcam" autoplay></video>-->
<!--            <button id="captureButton" type="button">Capture Customer Photo</button>-->
<!--            <button id="captureLicenseButton" type="button">Capture License Copy</button>-->
<!--            <canvas id="canvas" style="display: none;"></canvas>-->
            <div class="video-image-container">
                <video id="webcam" autoplay></video>
                <img id="capturedImage" src="./static/images/white.png" alt="Captured Image">
                <button id="captureButton" type="button">Capture Customer Photo</button>
                <button id="captureLicenseButton" type="button">Capture License Copy</button>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>
        </form>
        <div id="data-container" data-custom-data="{{uuid}}"></div>
    </div>

{% endblock %}

///////////////////////////////////////////////////////////////////////////

{% block js %}
     let videoElement = document.getElementById('webcam');
        let captureButton = document.getElementById('captureButton');
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        let imageForm = document.getElementById('imageForm');

        // Access the user's webcam
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // Assign the webcam stream to the video element
                videoElement.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Error accessing webcam:', error);
            });
        var customData = document.getElementById('data-container').getAttribute('data-custom-data');
        // Function to capture a frame from the webcam and send it to Flask
        captureButton.addEventListener('click', function () {
            // Draw the current frame from the webcam onto the canvas
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

            // Convert the captured frame to a data URL (base64)
            let imageDataURL = canvas.toDataURL('image/png');

            // Get the customer ID from the input field

<!--            let customerName = document.getElementById('customerName').value;-->
            let phoneNumber = document.getElementById('phoneNumber').value;

            // Create a FormData object and append the customer ID and image data
            let formData = new FormData();
            formData.append('imageDataUrl', imageDataURL);
            formData.append('uuid',customData);
            formData.append('phoneNumber', phoneNumber);
            updateCapturedImage_cust(imageDataURL);
            // Send the form data to Flask using an AJAX POST request
            fetch('/upload_image', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    console.log('Image uploaded successfully.');
                } else {
                    console.error('Image upload failed.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
           });

            captureLicenseButton.addEventListener('click', function () {
            // Draw the current frame from the webcam onto the canvas
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

            // Convert the captured frame to a data URL (base64)
            let imageDataURL = canvas.toDataURL('image/png');

            // Get the customer ID from the input field

<!--            let customerName = document.getElementById('customerName').value;-->
            let phoneNumber = document.getElementById('phoneNumber').value;

            // Create a FormData object and append the customer ID and image data
            let formData = new FormData();
            formData.append('imageDataUrl', imageDataURL);
            formData.append('uuid',customData);
            formData.append('phoneNumber', phoneNumber);

            updateCapturedImage_license(imageDataURL);
            // Send the form data to Flask using an AJAX POST request
            fetch('/upload_license_image', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    console.log('Image uploaded successfully.');
                } else {
                    console.error('Image upload failed.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        function updateCapturedImage_cust(imageDataURL) {
            let capturedImageElement = document.getElementById('capturedImage');
            capturedImageElement.src = imageDataURL;
            let form_data = document.getElementById('customer_base64');
            form_data.value = imageDataURL;
        };
        function updateCapturedImage_license(imageDataURL) {
            let capturedImageElement = document.getElementById('capturedImage');
            capturedImageElement.src = imageDataURL;
            let form_data = document.getElementById('license_base64');
            form_data.value = imageDataURL;
        }
{% endblock %}
